body {
    background-color: rgb(217, 154, 247);

}

.roxinho {
    background-color: rgb(165, 104, 221);

}

img {
    height: 200px;
}

.videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.videos img{
    opacity: 0.5;
    background-color: rgb(165, 104, 221);
}

.videos img:hover{
    opacity: 1.0;
}
